{% extends 'base.html' %}

{% block title %}To-Do List App{% endblock %}

{% block content %}
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <br>
    {% if todo_items %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <th>Item</th>
                <th><center>Completed</center></th>
                <th><center>Delete</center></th>
            </thead>
            {% for item in todo_items %}

            {% if item.completed %}
                <tr class="table-secondary">
                <td class="striker">{{ item.item }}</td>
                <td><center>Uncross</center></td>
            {% else %}
                <tr>
                <td>{{ item.item }}</td>
                <td><center><a class="btn btn-warning" href="{% url 'cross_off' item.id %}">Cross Off</a></center></td>
            {% endif %}
                
                <td><center><a class="btn btn-danger" href="{% url 'delete' item.id %}">Delete</a>
                    </center></td>
            </tr>
            
            {% endfor %}
        </table>
    {% else %}
        <p>No items to display.</p>
    {% endif %}
{% endblock %}
